.app {
  display: flex;
}

.main-content {
  margin-left: 60px;
  padding: 20px;
  width: 100%;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 50px;
  }
}

@media (max-width: 480px) {
  .main-content {
    margin-left: 40px;
  }
}
body.dark-mode {
  background-color: #121212;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}
